ipython>=8.10
jupyterlab>=3.0
kedro~=0.19.11
kedro-datasets~=6.0.0
notebook
pyarrow~=19.0.1
pandas~=2.2.3
numpy~=2.2.3
joblib~=1.4.2
requests~=2.32.3
s3fs~=2025.3.0
openpyxl~=3.1.5
textdistance~=4.6.3
rapidfuzz~=3.12.2
scipy~=1.15.2
tqdm~=4.67.1
mlflow~=2.21.0
kedro-mlflow~=0.14.4
scikit-learn~=1.6.1
imbalanced-learn~=0.13.0
xgboost~=2.1.4
sentence-transformers~=4.0.1
pytest~=8.3.5